# Salin file ini menjadi .env dan isi nilainya

# Server
PORT=3000

# MySQL (Laragon)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dompetku

# JWT Secret - ganti dengan string acak yang panjang!
JWT_SECRET=dompetku_secret_rahasia_123!@#
JWT_REFRESH_SECRET=dompetku_refresh_secret_456!@#
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Fonnte WhatsApp
FONNTE_TOKEN=your_fonnte_token_here
